@use 'variables' as v;

header {
  //width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  border-bottom: 1px solid #6A6A6A;
  color: #FFF8DC;
  background-color: v.$header-color;

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    align-items: start;
  }

  h1 {
    @media (max-width: 600px) {
      align-self: center;
    }
    @media(min-width: 601px) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    font-size: 3em;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  }

  .help-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: none;
    border: 3px solid #FFF8DC;
    font-size: 2em;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
    color: #FFF8DC;

    @media (max-width: 600px) {
      width: 1.75em;
      height: 1.75em;
      font-size: 1.25em;
      border: 2px solid #FFF8DC;
    }

    &:hover {
      border-color: #b8b197;
      cursor: pointer;
    }
  }
  
}