@use 'variables' as v;

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
  border-bottom: 1px solid #6A6A6A;
  color: #FFF8DC;
  background-color: v.$header-color;

  h1 {
    cursor: pointer;
    -webkit-text-stroke: 2px black;
    font-size: 3em;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
  }
}