<div class="grid">
  @if(loading == false && getServiceLoading() == false && getGrid()) {
    @for (gridRow of getGrid().gridRows; track $index) {
      <app-grid-row [active]="gridRow.active" [gridRow]="gridRow" [numberOfColumns]="getGrid().wordToGuessLength" />
    }

    <div [ngClass] = "{
                        'invalid-word-message': true,
                        show: getGrid().invalidWordMessage ? true : false,
                        hide: getGrid().invalidWordMessage ? false : true
                      }"
    >
      {{getGrid().invalidWordMessageContent}}
    </div>

    <app-keyboard />
  }
</div>