<div class="grid">
  @if(loading == false) {
    @for (gridRow of grid.gridRows; track $index) {
      <app-grid-row [active]="gridRow.active" [gridRow]="gridRow" [numberOfColumns]="this.grid.wordToGuessLength" />
    }
    <div [ngClass] = "{
                        'invalid-word-message': true,
                        show: grid.invalidWordMessage ? true : false,
                        hide: grid.invalidWordMessage ? false : true
                      }"
    >
      Ce mot n'est pas dans la liste !
    </div>
  }
</div>