@use 'variables' as v;

div {
  color: v.$text-color;
}

.header {
  width: 100%;
  display: flex;
  justify-content: end;
}

h1 {
  margin-top: 0;
}

.title {
  border-bottom: 2px solid white;
}

.main {
  margin-bottom: 15px;
}

.content {
  display: flex;
  gap: 10px;
  margin: 0px 20px 20px 20px;
  padding: 0 10px 0 15px;
  align-items: center;
}

.close {
  width: 64px;
  height: 48px;
  background-color: transparent;
  border: none;
  color: v.$text-color;
  font-weight: 400;
  font-family: Roboto;
  font-size: 2rem;
  cursor: pointer;
}

//.dialog-content {
//  background-color: v.$header-color !important;
//  color: white !important;
//}


