/* You can add global styles to this file, and also import other style files */
@use 'variables' as v;
@use '@angular/material' as mat;

body {
  margin: 0;
  background-color: v.$primary-color;
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,"Apple Color Emoji","Segoe UI Emoji",Segoe UI Symbol,"Noto Color Emoji";
}
html, body { height: 100%; }



// Help modal
:root {
  @include mat.dialog-overrides((
    container-shape: rectangle,
    container-color: v.$header-color,
    subhead-color: v.$text-color,
    supporting-text-color: v.$text-color,
  ));
}

//.mat-mdc-dialog-surface {
//  border: 3px solid v.$header-color;
//  border-radius: 0px !important;
//}