$lettersColor: white;


.cell {
  width: 60px;
  height: 70px;
  border: 2px solid rgba(0, 0, 0, .6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto regular, ubuntu, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: $lettersColor;
  background-color: #556B2F;

  .p {
    padding-top: 20px;
  }

}

.active {
  background-color: #86aa49;
}