@use 'variables' as v;

$lettersColor: white;

.cell {
  width: 50px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, .6);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto regular, ubuntu, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: $lettersColor;
  background-color: #556B2F;

  @media(max-width: 600px) {
    width: 27px;
    height: 37px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, .6);
  }

  .p {
    padding-top: 20px;
  }

}

.example {
  width: 30px;
  height: 40px;
  font-size: 18px;
}

.active {
  background-color: #86aa49;
  animation: bounce 0.2s ease-in-out forwards;
}

.correct {
  background-color: #DB3A34;
  animation: flip 0.5s ease forwards;
}

.wrong-position {
  background-color: orange;
  animation: flip 0.5s ease forwards;
}

.not-present {
  background-color: #084C61;
  animation: flip 0.6s ease forwards;
}

.filled {
  //animation: appear 0.1s ease-in-out reverse;
  animation-name: appear;
  animation-duration: 0.15s;
  animation-direction: reverse;
}

.empty {
  animation-name: appear2;
  animation-duration: 0.05s;
  animation-direction: alternate;
}

/* keyframe animations */
@keyframes appear {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(0.7);
  }
  55% {
    transform: scale(0.4);
  }
  100% {
    transform: scale(0.1);
    color: #eee;
  }
}

/* keyframe animations */
@keyframes appear2 {
  0% {
    transform: scale(1.75);
  }
  55% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
    color: #eee;
  }
}

/* keyframe animations */
@keyframes flip {
  0% {
    transform: rotateX(0);
    border-color: #333;
  }
  45% {
    transform: rotateX(90deg);
    border-color: #333;
  }
  55% {
    transform: rotateX(90deg);
    border-color: var(--border-color);
  }
  100% {
    transform: rotateX(0deg);
    border-color: var(--border-color);
    color: #eee;
  }
}


@keyframes bounce {
  0% { 
    transform: scale(1);
    border-color: #ddd;
  }
  50% { 
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
    border-color: #333;
  }
}

